@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

body {
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 2.5rem 1.25rem;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(24, 5%, 18%);
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 43.75rem;
    padding: 1.8rem;
    border-radius: 1.25rem;
}

img {
    width: 100%;
    border-radius: 0.6rem;
}

h1{
    font-family: 'Young Serif', serif;
    color: hsl(24, 5%, 18%);
    font-size: 2.2rem;
}

h2{
    font-family: 'Young Serif', serif;
    color: hsl(14, 45%, 36%);
    margin-top: 1.8rem;
}

.prep-box {
    background-color: hsl(330, 100%, 98%);
    padding: 1.25rem;
    border-radius: 0.7;
    margin: 1.5rem 0;
}

.prep-box h3 {
    color: hsl(332, 51%, 32%);
    margin-top: 0;
}

li {
    margin-bottom: 0.7rem;
    padding-left: 0.6rem;
}

li::marker {
   color: hsl(14, 45%, 36%);
   font-weight: bold; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

td {
    padding: 0.9rem 0;
    border-bottom: 0.06rem solid hsl(30, 18%, 87%);
}

tr:last-child td {
    border-bottom: none;
}

td strong {
    color: hsl(14, 45%, 36%);
}

ol ul {
    list-style-type: disc;
}

ol ul {
    list-style-type: disc;
    padding-left: 0.06rem;
    margin-top: 0.6rem;
}